@font-face {
  font-family: 'MS Sans Serif';
  src: url('MS Sans Serif.ttf')  format('truetype')
}

body {
  margin: 0;
  background: rgb(48, 70, 99);
}

body, input {
  font-family: 'MS Sans Serif', 'Segoe UI', sans-serif;
}
